extends layout.pug

block title
    title About

block content
    .col-sm-6.col-sm-offset-3
        h1 About
        p Hello, welcome, I don't know what to say here.
        h2 FAQ
        dl
            dt Is my password stored securely?
            dd Connections to the server are secured with https, and passwords are stored hashed.
            dt How often do you check for open spots?
            dd Every five minutes.
        //p Use this page to send suggestions, report problems, and provide feedback about this app. If you would like a response, provide your email address or send an email to <a href = 'mailto:support@puclass.space'>support@puclass.space</a>.
        //form(method='POST')
        //    .form-group
        //        label Your Email Address (optional):
        //        input(type='email' name='email').form-control
        //    .form-group
        //        label Your Comments:
        //        textarea(name='feedback' rows='10').form-control
        //    button(type='submit').btn.btn-block.btn-success Send
