extends layout
block content
    .col-sm-6.col-sm-offset-3
        h1 Forgot Password
        p Enter your email address to request a password reset.
        include validationErrors
        if messages.error
            .alert.alert-danger #{messages.error}
        if messages.info
            .alert.alert-info= messages.info
        form(method='POST')
            .form-group
                label(for='email').sr-only Email Address:
                input.form-control#email(type='email', placeholder='Email Address', name='email', autocomplete=true)
            button(type='submit').btn.btn-block.btn-success Submit