- var dropdownToggleAttributes = {'href':'#','data-toggle':'dropdown','role':'button','aria-haspopup':'true','aria-expanded':'false'}


doctype html
html
    head
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        block title
            title Purdue Toolkit
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        script(src='https://code.jquery.com/jquery-2.2.4.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        block extraScript
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    body
        .container
            nav.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        button(type='button' data-toggle='collapse',
                        data-target='#navbar-collapse',
                        aria-expanded='false').navbar-toggle.collapsed
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a(href='/').navbar-brand Class Watcher
                    .collapse.navbar-collapse(id='navbar-collapse')
                        ul.nav.navbar-nav
                            li
                                a(href='/') Home
                            if user
                                li
                                    a(href='/watches') Manage Watches
                        ul.nav.navbar-nav.navbar-right
                            if user
                                li.dropdown
                                    a&attributes(dropdownToggleAttributes).dropdown-toggle #{user.email}
                                        span.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='account') Account
                                        li
                                            a(href='logout') Log Out

                            else
                                li
                                    a(href='login') Log In
                                li
                                    a(href='signup') Register
            block content
