extends layout

block title
    title Log In

block content
    div.col-sm-6.col-sm-offset-3
        h1 Log In
        if messages.error
            .alert.alert-danger= messages.error
        form(method='POST')
            .form-group
                label(for='email') Email Address:
                input.form-control#email(type='email', placeholder='Email Address', name='email', autofocus=true autocomplete=true)
            .form-group
                label(for = 'password') Password
                input.form-control#password(type='password',placeholder='Password',name='password')
            p
                a(href='/forgot') Forgot Password?
            button(type='submit').btn.btn-block.btn-success Log In