extends layout

block title
    title Password Reset

block content
    .col-sm-6.col-sm-offset-3
        h1 Reset Password
        include validationErrors
        form(method='POST')
            .form-group
                label(for = 'password') New Password:
                input.form-control#password(type='password',placeholder='New Password',name='password' required)
            .form-group
                label(for = 'confirmPassword') Confirm Password:
                input.form-control#confirmPassword(type='password', placeholder='Confirm Password' name='confirmPassword' required)
            button(type='submit').btn.btn-block.btn-success Change Password